body {

  $header-height: 280px;
  $full-height: 100vh;
  $full-height-percent: 100%;
  $container-content-height: calc(#{$full-height} - #{$header-height});

  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header {
    height: $header-height;

    .jumbotron {
      padding: 2rem 1rem;
      margin-bottom: 0;
    }

    .btn-header-control {
      margin-left: 15px;
    }

    .select-cluster-wrapper {
      overflow: hidden;
    }

  }

  #container-content {
    height: $container-content-height;
  }

  #page-content {
    height: $full-height-percent;

    .form-control-file-text {
      height: $full-height-percent;
      resize: none;
    }

    .page-parsed-wrapper {
      height: $full-height-percent;
      overflow: auto;

      .token {
        &.token-entity {
          &:hover {
            cursor: pointer;
          }
          &.selected {
            background-color: darkgreen;
          }
          &.chosen {
            background-color: darkred;
            opacity: 0.8;
          }
        }
      }

    }
  }

  #preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    display: none;

    &.visible {
      @include flex-center;
    }
    
    span {
      font-size: 3em;
      color: #FFF;
    }
    
  }

  #clusters-wrapper {

    height: $full-height-percent;
    overflow-y: auto;

    .list-group-item {
      & > div {
        overflow: hidden;
      }

      .cluster-items {
        .btn-remove-cluster-item {
          cursor: pointer;
        }
      }
    }
  }

  // Noty theme
  .noty_theme__metroui.noty_bar {
    margin: 4px 0;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 0 5px 0;
  }

  .noty_theme__metroui.noty_bar .noty_progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }

  .noty_theme__metroui.noty_bar .noty_body {
    padding: 1.25em;
    font-size: 14px;
  }

  .noty_theme__metroui.noty_bar .noty_buttons {
    padding: 0 10px .5em 10px;
  }

  .noty_theme__metroui.noty_type__alert,
  .noty_theme__metroui.noty_type__notification {
    background-color: #fff;
    color: #1d1d1d;
  }

  .noty_theme__metroui.noty_type__warning {
    background-color: #FA6800;
    color: #fff;
  }

  .noty_theme__metroui.noty_type__error {
    background-color: #CE352C;
    color: #FFF;
  }

  .noty_theme__metroui.noty_type__info,
  .noty_theme__metroui.noty_type__information {
    background-color: #1BA1E2;
    color: #FFF;
  }

  .noty_theme__metroui.noty_type__success {
    background-color: #60A917;
    color: #fff;
  }

}