<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coreference database</title>

    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/noty.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<script type="text/template" id="app-layout-template">
    <div class="container-fluid">
        <div id="header">

        </div>
        <div class="row" id="container-content">
            <div id="page" class="col-sm-8">

            </div>
            <div id="sidebar" class="col-sm-4">

            </div>
        </div>
    </div>

    <!-- Preloader for entire page -->
    <div id="preloader">
        <span class="fa fa-cog fa-spin"></span>
    </div>


</script>

<script type="text/template" id="header-save-clusters-template">
    <div class="form-group">
        <button type="button" class="btn btn-danger" id="btn-reset">Reset</button>
        <button type="button" class="btn btn-outline-dark" id="btn-add-to-cluster">Add to cluster</button>
    </div>
</script>

<script type="text/template" id="header-load-file-template">
    <!-- Inputs -->
    <form id="form-select-file">
        <div class="form-group">
            <label for="file-select">Select file</label>
            <input type="file" id="file-select" required/>
            <button type="submit" class="btn btn-primary">Load file</button>
            <button type="button" class="btn btn-success" id="btn-recognize">Recognize</button>
        </div>
    </form>
</script>

<script type="text/template" id="header-template">
    <!-- Form -->
    <div class="jumbotron">
        <h1 class="display-4">Coreference dataset former</h1>

        <p class="lead">This is a simple web-based utility for the forming of training gold dataset for Ukrainian
            texts.</p>
        <hr class="my-4">

        <div class="header-inputs-wrapper"></div>
    </div>
</script>

<script type="text/template" id="cluster-template">
    <div class="list-group-item">

    </div>
</script>

<script type="text/template" id="sidebar-template">
    Sidebar
</script>

<script type="text/template" id="page-parsed-template">
    <div class="page-parsed-wrapper"></div>
</script>

<script type="text/template" id="page-parsed-token-template">
    <span class="token <%= isEntity ? 'token-entity badge badge-primary' : '' %> <%= isSelected ? 'selected' : '' %> <%= isChosen ? 'chosen' : '' %>" data-number="<%= entityNumber %>"><%= word %></span>
</script>

<script type="text/template" id="page-textbox-template">
    <label for="file-text" class="d-none"></label>
    <textarea class="form-control form-control-file-text" id="file-text"><%= fileText %></textarea>
</script>

<script type="text/template" id="page-template">
    <div id="page-content">

    </div>
</script>


<!-- JS scripts -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone-min.js"></script>
<script type="text/javascript" src="js/backbone.radio.js"></script>
<script type="text/javascript" src="js/backbone.marionette.min.js"></script>
<script type="text/javascript" src="js/noty.min.js"></script>

<script type="text/javascript" src="js/app/models.js"></script>
<script type="text/javascript" src="js/app/views.js"></script>
<script type="text/javascript" src="js/app/app.js"></script>

</body>
</html>